body
    .el-input-group__prepend
        padding: 0 10px
        i
            font-size 20px
    .el-tabs__item
        height 38px
        line-height 38px
        padding 0 13px
        &.is-active.is-closable
            padding-left: 13px!important;
            padding-right: 13px!important;