@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: .45rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-app:before {
  content: "\e900";
}
.icon-arrow-down:before {
  content: "\e901";
}
.icon-arrow-left:before {
  content: "\e902";
}
.icon-arrow-right:before {
  content: "\e903";
}
.icon-arrow-up:before {
  content: "\e904";
}
.icon-book-like:before {
  content: "\e905";
}
.icon-book-star:before {
  content: "\e906";
}
.icon-calendar:before {
  content: "\e907";
}
.icon-call:before {
  content: "\e908";
}
.icon-check:before {
  content: "\e909";
}
.icon-chrome:before {
  content: "\e90a";
}
.icon-class:before {
  content: "\e90b";
}
.icon-close:before {
  content: "\e90c";
}
.icon-code:before {
  content: "\e90d";
}
.icon-cog:before {
  content: "\e90e";
}
.icon-danger:before {
  content: "\e90f";
}
.icon-deposit:before {
  content: "\e910";
}
.icon-eye-close:before {
  content: "\e911";
}
.icon-eye:before {
  content: "\e912";
}
.icon-filler:before {
  content: "\e913";
}
.icon-game-menu-0:before {
  content: "\e914";
}
.icon-game-menu-1:before {
  content: "\e915";
}
.icon-game-menu-2:before {
  content: "\e916";
}
.icon-game-menu-3:before {
  content: "\e917";
}
.icon-game-menu-4:before {
  content: "\e918";
}
.icon-game:before {
  content: "\e919";
}
.icon-gift:before {
  content: "\e91a";
}
.icon-help1:before {
  content: "\e91b";
}
.icon-help2:before {
  content: "\e91c";
}
.icon-help3:before {
  content: "\e91d";
}
.icon-help4:before {
  content: "\e91e";
}
.icon-help5:before {
  content: "\e91f";
}
.icon-help6:before {
  content: "\e920";
}
.icon-help7:before {
  content: "\e921";
}
.icon-help8:before {
  content: "\e922";
}
.icon-history:before {
  content: "\e923";
}
.icon-home:before {
  content: "\e924";
}
.icon-hot:before {
  content: "\e925";
}
.icon-info:before {
  content: "\e926";
}
.icon-kefu:before {
  content: "\e927";
}
.icon-kefu2:before {
  content: "\e928";
}
.icon-lastgame:before {
  content: "\e929";
}
.icon-left-nav0:before {
  content: "\e92a";
}
.icon-left-nav1:before {
  content: "\e92b";
}
.icon-left-nav2:before {
  content: "\e92c";
}
.icon-left-nav3:before {
  content: "\e92d";
}
.icon-left-nav4:before {
  content: "\e92e";
}
.icon-left-nav5:before {
  content: "\e92f";
}
.icon-left-nav6:before {
  content: "\e930";
}
.icon-left-nav7:before {
  content: "\e931";
}
.icon-left-nav8:before {
  content: "\e932";
}
.icon-left-nav9:before {
  content: "\e933";
}
.icon-left-nav10:before {
  content: "\e934";
}
.icon-left-nav11:before {
  content: "\e935";
}
.icon-left-nav12:before {
  content: "\e936";
}
.icon-like:before {
  content: "\e937";
}
.icon-ling:before {
  content: "\e938";
}
.icon-link:before {
  content: "\e939";
}
.icon-location:before {
  content: "\e93a";
}
.icon-lock:before {
  content: "\e93b";
}
.icon-lock2:before {
  content: "\e93c";
}
.icon-login:before {
  content: "\e93d";
}
.icon-logo:before {
  content: "\e93e";
}
.icon-loop:before {
  content: "\e93f";
}
.icon-mail:before {
  content: "\e940";
}
.icon-menu:before {
  content: "\e941";
}
.icon-menu2:before {
  content: "\e942";
}
.icon-menu3:before {
  content: "\e943";
}
.icon-msg-open:before {
  content: "\e944";
}
.icon-msg-plus:before {
  content: "\e945";
}
.icon-msg:before {
  content: "\e946";
}
.icon-note:before {
  content: "\e947";
}
.icon-phone-b:before {
  content: "\e948";
}
.icon-phone-code:before {
  content: "\e949";
}
.icon-phone:before {
  content: "\e94a";
}
.icon-ping:before {
  content: "\e94b";
}
.icon-plus:before {
  content: "\e94c";
}
.icon-qq:before {
  content: "\e94d";
}
.icon-safe-check:before {
  content: "\e94e";
}
.icon-screen-rotate-2:before {
  content: "\e94f";
}
.icon-screen-rotate:before {
  content: "\e950";
}
.icon-search:before {
  content: "\e951";
}
.icon-share-b:before {
  content: "\e952";
}
.icon-share:before {
  content: "\e953";
}
.icon-telegram:before {
  content: "\e954";
}
.icon-trans:before {
  content: "\e955";
}
.icon-transfer:before {
  content: "\e956";
}
.icon-user-b-2:before {
  content: "\e957";
}
.icon-user-b:before {
  content: "\e958";
}
.icon-user:before {
  content: "\e959";
}
.icon-volume-medium:before {
  content: "\e95a";
}
.icon-wallet:before {
  content: "\e95b";
}
.icon-warning:before {
  content: "\e95c";
}
.icon-wechat:before {
  content: "\e95d";
}